*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

:root {
    --primary-color: #0C0B13;
    --bg-card: #24232C;
    --bg-stringth: #18171F;

    --text-main: #FFFFFF;
    --text-ligth: #E6E5EA;
    --text-muted: #817D92;

    /* Кольори для ідекатора сили */
    --strenth-weak: #F64A4A;
    --strength-medium: #FB7C58;
    --strength-good: #F8CD65;
    --strength-strong: #A4FFAF;
}

body {
    background: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.header {
    display: flex;
    justify-content: center;
}

.header-word {
    color: var(--text-muted);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.output,
.wrapper-bot {
  width: 340px;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    height: 50px;

    background: var(--bg-card);
}

.password {
    color: var(--text-main);
    font-weight: 600;
}

.copy-btn {
    border: none;
    background: transparent;
    
}
.copy-btn:hover {
  transform: scale(1.05);
}

.copy-btn:active {
    transform: scale(0.95);
}

.wrapper-bot {
    padding: 20px;
    height: 360px;

    background: var(--bg-card);

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 0px;
}

.length-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    color: var(--text-ligth);
}

.length-title {
    display: flex;
    margin-top: 8px;
}

.length-value {
    color: var(--strength-strong);
    font-weight: 600;
    font-size: 24px;
}

.length-range { /* лінія*/
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: var(--bg-stringth);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.length-range::-webkit-slider-thumb { /* круг */
    appearance: none;
    width: 18px;
    height: 18px;
    background: var(--text-ligth);
    border-radius: 50%;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: var(--text-ligth);
    font-size: 12px;
}
.option {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.option input[type="checkbox"] { /* анеактивний*/
    appearance: none;
    -webkit-appearance: none;

    width: 18px;
    height: 18px;

    border: 2px solid var(--strength-strong);
    cursor: pointer;

    display: grid;
    place-content: center;
}

.option input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 0.2s ease-in-out;
    background: var(--strength-strong);
}

.option input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.strength {

    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background: var(--primary-color);
}

.strength-title {
    color: var(--text-ligth);
    font-size: 12px;
}

.strength-text {
    color: var(--text-main);
    display: flex;
    align-items: center;
}

.bars {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bar {
    width: 10px;
    height: 25px;
    border: 1px solid var(--text-main);
}

.generator-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    margin-bottom: 10px;
    border: none;

    background: var(--strength-strong);
}

.generator-btn:hover {
  filter: brightness(0.95);
}

.generator-btn:active {
    transform: scale(0.9);
}

/* VERY WEAK */
#bar1 {
    background: var(--strength-strong);
}

/* WEAK */
#bar1, #bar2 {
    background: #F8CD65;
}

/* MEDIUM */
#bar1, #bar2, #bar3 {
    background: #FB7C58;
}

/* STRONG */
#bar1, #bar2, #bar3, #bar4 {
    background: var(--strenth-weak);
}